.review-cart{
    background-color: lightgreen;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
}

.review-cart h2{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    padding-left: 10px;
}
.h2-span{
    margin-left: 10px;
    font-weight: 700;
    color:orangered;
}
.rev{
    text-align:start;
    padding-left: 10px;
}
.rev-span{
    font-weight: 700;
}
.ratings{
    text-align: start;
    padding-left: 10px;
}
.rating-span{
    font-weight: 700;
}
.star{
    color:goldenrod;
}