.all-reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
}
.review-h2{
    text-align: center;
    color: orangered;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 36px;
}